{% extends 'base.html' %}
{% block cuerpo %}

<div class="container mt-3">

    <table class="table table-light table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre permiso</th>
        </tr>
    </thead>
    <tbody>
        {% for permiso in permisos %}
            <tr>
                <td>{{ permiso.id }}</td>
                <td>{{ permiso.name }}</td>
            </tr>
            
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
<script>
function openLeftMenu() {
  document.getElementById("leftMenu").style.display = "block";
}

function closeLeftMenu() {
  document.getElementById("leftMenu").style.display = "none";
}
</script>